<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版本图片</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="option-div">
    <label>选择语言</label>
    <select name="pic-select" class="multiselect" id="select-pic">

    </select>
    <label>是否选中</label>
    <select name="check-select" id="select-check">
        <option value=""> </option>
        <option value="0">未选</option>
        <option value="1">已选</option>
    </select>
</div>

<div class="box" id="box"></div>
</body>
<script src="{{url_for('static', filename='jquery-2.1.3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script src="{{url_for('static', filename='js/select.js')}}"></script>
<script>
    $('.multiselect').multiselect({setMaxOptionNum:4,selectedHtmlValue:' '});
</script>
</html>
